@import "./partials/bootstrap_loader.scss";


.card {
    height: 450px;
}

.card-text {
    height: 120px;
}

.img-container {

    img {
        width: 100%;
        object-fit: cover;
        height: 240px;
    }

}