@import "./partials/bootstrap_loader.scss";

body {
    background-color: rgb(158, 223, 219);
}

.card {
    height: 450px;
}

.card-text {
    height: 120px;
}

.img-container {

    img {
        width: 100%;
        object-fit: cover;
        height: 240px;
        border-radius: 1rem;
        margin-top: 1rem;
    }

}